<td-layout [class]="activeTheme">
    <td-layout-nav color="none" logo="">
        <div td-toolbar-content layout="row" layout-align="start center" flex>
            <span hide-gt-xs class="mat-subhead">Landing</span>
            <span hide-xs class="mat-subhead">Healthcare Dashboard</span>
            <span flex ></span>
            <button mat-icon-button matTooltip="Switch Light Theme" *ngIf="activeTheme === 'theme-dark'" (click)="theme('theme-light')">
                <mat-icon>brightness_high</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Switch Dark Theme" *ngIf="activeTheme != 'theme-dark'" (click)="theme('theme-dark')">
                <mat-icon>brightness_low</mat-icon>
            </button>
            <span>Signin</span>
            <button mat-icon-button [matMenuTriggerFor]="signinMenu">
                <mat-icon>input</mat-icon>
            </button>
            <mat-menu #signinMenu="matMenu">
                <td-menu (click)="$event.stopPropagation()" class="pad">
                    <app-form-signin *ngIf="!signinView"></app-form-signin>
                    <app-qr-signin *ngIf="signinView"></app-qr-signin>
                    <button  mat-button color="accent" td-menu-footer (click)="signinView=!signinView">
                        switch signin
                    </button>
                </td-menu>
            </mat-menu>
        </div>

        <section>
            <div layout-gt-xs="row">
                <div flex class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-xl']">
                <div class="push-top-xl" hide-xs></div>
                <div tdMediaToggle="gt-sm" [mediaClasses]="['push-lg']">
                    <h1 class="mat-display-3 accent-color push-top-xs push-bottom-sm">CertifyLife.</h1>
                    <h2 class="mat-headline push-top-xs push-bottom-sm">Blockchain based birth and death certificates.</h2>
                    <p class="mat-subhead tc-grey-600">Sync'ed with Aadhaar and other services.</p>
                    <button mat-raised-button color="accent" class="push-bottom" [@instantCollapse]="triggerState" (click)="triggerState=!triggerState">Register MCO / Hospital</button>
                </div>
                <div class="push-bottom-xl" hide-xs></div>
                </div>
                <div tdMediaToggle="gt-xs" [mediaAttributes]="{'flex':[50,100]}" layout="row" layout-align="center center">
                    <app-form-signup  [@instantCollapse]="!triggerState"></app-form-signup>
                    <div [@delayedCollapse]="triggerState"> Some other content eg. SVG Illustrations</div>
                </div>
            </div>
        </section>
        
        <mat-divider></mat-divider>

        <section class="bgc-blue-grey-800 tc-blue-grey-100">
            <div layout-gt-xs="row" layout-align-gt-xs="center center">
                <div layout-gt-xs="row" flex-gt-xs="80" layout-margin layout-padding>
                <div flex-gt-xs>
                    <mat-nav-list>
                        <mat-list-item>
                            <!-- <p matLine class="tc-blue-grey-300">Company Info</p> -->
                        </mat-list-item>
                        
                        <mat-list-item>
                            <h3 mat-subheader class="text-upper tc-blue-grey-100">About CertifyLife</h3>
                        </mat-list-item>
                        
                        <mat-list-item>
                            <!-- <p matLine class="tc-blue-grey-300">Company Info</p> -->
                        </mat-list-item>

                    </mat-nav-list>
                </div>
                <div flex-gt-xs="10">
            </div>
            <!-- <div flex layout="column" flex-gt-xs="30">
                A bigger icon of company goes here
                <p class="mat-body-1">&copy; Copyright 2018 Procom, All rights reserved.</p>
            </div> -->
            </div>
        </div>  
        </section>

        <!-- <a mat-fab color="accent" matTooltip="Contact Us" matTooltipPosition="above" class="mat-fab-position-bottom-right fixed"> 
            <mat-icon>send</mat-icon>
        </a> -->
    </td-layout-nav>
</td-layout>
      